/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 5.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


/*  FORMS */
.input-field .prefix.active
{
    color: #6200ea !important;
    
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly])
{
    /*border-bottom: color: linear-gradient(45deg, #0097a7, #b2ff59) !important;
    */
    border-bottom: 1px solid #6200ea;
    -webkit-box-shadow: 0 1px 0 0 #6200ea;
            box-shadow: 0 1px 0 0 #6200ea;
    
}
input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label
{
    color: #6200ea;
}

.gradient-45deg-cyan-light-green
{
      background: #0097a7;li
      background: -webkit-linear-gradient(45deg, #0097a7, #b2ff59) !important;
      background: -moz- oldlinear-gradient(45deg, #0097a7, #b2ff59) !important;
      background:      -o-linear-gradient(45deg, #0097a7, #b2ff59) !important;
      background:         linear-gradient(45deg, #0097a7, #b2ff59) !important;
}





/* BUTTON TABLES*/

.btn-table-list i{
    font-size: 1.2rem;
}

.btn-table-list-accept i{
    font-size: 1.5rem;
}

.btn-table-list{
    padding: 0 1rem !important;
}






